body {
    height: 100vh;
}

#container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-template-areas: ". . . . . ." ". pixar03 pixar04 pixar05 pixar06 ." ". pixar02 logo logo pixar07 ." ". pixar01 logo logo pixar08 ." ". . . . . .";
}

.logo {
    grid-area: logo;
}

.pixar01 {
    grid-area: pixar01;
    background-image: url(../img/desktop/cuarto/pixar01.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.pixar02 {
    grid-area: pixar02;
}

.pixar03 {
    grid-area: pixar03;
}

.pixar04 {
    grid-area: pixar04;
}

.pixar05 {
    grid-area: pixar05;
}

.pixar06 {
    grid-area: pixar06;
}

.pixar07 {
    grid-area: pixar07;
}

.pixar08 {
    grid-area: pixar08;
}


/* Imágenes de la página */

.logo {
    background-image: url(../img/desktop/cuarto/logo_pixar.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.pixar02 {
    background-image: url(../img/desktop/cuarto/pixar02.webp);
}

.pixar03 {
    background-image: url(../img/desktop/cuarto/pixar03.jpg);
}

.pixar04 {
    background-image: url(../img/desktop/cuarto/pixar04.jpg);
}

.pixar05 {
    background-image: url(../img/desktop/cuarto/pixar05.jpg);
}

.pixar06 {
    background-image: url(../img/desktop/cuarto/pixar06.jpg);
}

.pixar07 {
    background-image: url(../img/desktop/cuarto/pixar07.jpg);
}

.pixar08 {
    background-image: url(../img/desktop/cuarto/pixar08.jpg);
}