/* *********************************** */


/* *** Estilos SOLO para primero.html *** */


/* *********************************** */

html {
    font-family: Helvetica, sans-serif;
    color: rgb(22, 108, 177);
    font-size: 1rem;
    padding: 10px;
}

#container {
    display: grid;
    grid-template-columns: 5% 1fr 5%;
    justify-items: center;
}

figure {
    margin: 0;
}

p,
.logo,
.princesas {
    grid-column: 2/3;
}

.princesas {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 300px;
    gap: 1rem;
}

.princesa1,
.princesa2,
.princesa3 {
    background-image: url(../img/desktop/primero/snowwhite.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    grid-column: 1/2;
}

.princesa2 {
    background-image: url(../img/desktop/primero/megara.jpg);
    grid-column: 2/3;
}

.princesa3 {
    background-image: url(../img/desktop/primero/ariel.jpg);
    grid-column: 3/4;
}