body {
    height: 100vh;
    padding: 10px;
    background-image: url("../img/desktop/tercero/background.jpg");
}

.grid-container {
    display: grid;
    height: 100vh;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 10px 10px;
    grid-template-areas: "logo . . . ." "barra1 barra1 barra1 barra1 icon1" "barra2 barra2 barra2 icon2 ." "barra3 barra3 barra3 barra3 icon3" "barra4 icon4 . . .";
}

.logo {
    grid-area: logo;
}

.barra1 {
    grid-area: barra1;
}

.barra2 {
    grid-area: barra2;
}

.barra3 {
    grid-area: barra3;
}

.barra4 {
    grid-area: barra4;
}

.icon1 {
    grid-area: icon1;
}

.icon2 {
    grid-area: icon2;
}

.icon3 {
    grid-area: icon3;
}

.icon4 {
    grid-area: icon4;
}